[submodule "public/users/johnlindquist"]
	path = public/users/johnlindquist
	url = https://github.com/johnlindquist/shared-kenv.git

[submodule "public/users/dschapman"]
	path = public/users/dschapman
	url = https://github.com/dschapman/kenv.git

