@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../node_modules/@reach/dialog/styles.css';
@import '../../node_modules/simplebar/dist/simplebar.min.css';
@import './fonts/index.css';

::selection {
  @apply bg-yellow-300 text-black;
}

.simplebar-scrollbar:before {
  @apply bg-gray-700;
  position: absolute;
  content: '';
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.2s 0.5s linear;
}

/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
